<div class="mt-4">

    <div>
        <h3>My courses</h3>
        <a href="/me/trash/courses" style="font-weight: bold;">Thùng rác {{deletedCount}}</a>
    </div>
    
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    {{!-- Return _id to data-id property --}}
                    <a href="" class="btn btn-link" data-id = "{{this._id}}"  data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa đăng khóa học nào!
                    <a href="/courses/create" style="font-weight: bold;">Đăng khóa học tại đây</a>
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Confirm delete courses Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="btn-delete-course">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hiden form --}}
<form method="post" name="delete-course-form"></form>

<script>
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.querySelector('#btn-delete-course');

    var exampleModal = document.getElementById('delete-course-modal');
        //When modal is showed, the function will be executed
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            var courseId = button.getAttribute('data-id');

            
            btnDeleteCourse.onclick = function(){
                deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
                deleteForm.submit(); 
            }
        }
        );

</script>